*.pyc
*~
*.dat
*.swp
*.o
*.so
*.png
deprecated/
*.pyf
*.eps
*.out
output*
setting/local*.py
*.aux
*.log
*.synctex.gz
*.npy
*.dvi
*.log
*data/
*build/
poornn/tests/data/
dist/
poornn.egg-info/
*.mod
*MNIST-data/
.cache/
